@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

body .title {
  margin: 10px 20px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .title h1 {
  font-size: xx-large;
  font-weight: 900;
  color: #974973;
}

body .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .navigation a {
  color: #6c6c6c;
}

body .header .navigation a:hover {
  color: #974973;
}

body .showcase {
  position: relative;
}

body .showcase img {
  width: 100vw;
  height: 100vh;
}

body .showcase .cdn {
  text-align: center;
  position: absolute;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(151, 73, 115, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #ffffff;
  width: 50vw;
  padding: 50px 20px;
}

body .aboutus {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
}

body .aboutus .mycards {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .aboutus .mycards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 20px;
  background-color: #974973;
  color: #ffffff;
  height: 20em;
  width: 33%;
  border-radius: 2em;
}

body .aboutus .mycards .card .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .aboutus .mycards .card .logo img {
  height: 80%;
  width: 80%;
}

body .aboutus .mycards .card .logo .img0 {
  display: block;
}

body .aboutus .mycards .card .logo .img1 {
  display: none;
}

body .aboutus .mycards .card .cdn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .aboutus .mycards .card:hover {
  background-color: #ffffff;
  color: #974973;
}

body .aboutus .mycards .card:hover .logo .img0 {
  display: none;
}

body .aboutus .mycards .card:hover .logo .img1 {
  display: block;
}

body .correspond {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .correspond .cdn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .correspond .cdn h3,
body .correspond .cdn p {
  text-align: center;
  color: #6c6c6c;
  width: 80%;
}

body .facility .mycards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .facility .mycards .card {
  margin: 10px;
  width: 33%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .facility .mycards .card:hover {
  color: #ffffff;
  background-color: #974973;
}

body .facility .btm .view {
  background-color: #974973;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .facility .btm .view a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body .facility .btm .view a p {
  color: #ffffff;
  font-weight: 600;
}

body .facility .btm .view a .arrow {
  font-size: x-large;
  background-color: #c86098;
  padding: 0 10px;
}

body .extr h1 {
  text-align: center;
  font-weight: 600;
  color: #974973;
  width: 4em;
}

body .extr img {
  height: 5em;
  margin: 0 20px;
}

body .extr p {
  margin: 5px;
  padding: 0;
  width: 15em;
}

body .gallery ul button {
  color: #6c6c6c !important;
}

body .gallery ul .active {
  background-color: #974973 !important;
  color: #ffffff !important;
}

body .gallery .mySwiper .imgsec {
  position: relative;
}

body .gallery .mySwiper .imgsec img {
  height: 50em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .gallery .mySwiper .imgsec h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 2px 2px #6c6c6c;
  color: #ffffff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

body .gallery .mySwiper .imgsec:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: none;
          filter: none;
}

body .gallery .mySwiper .imgsec:hover h1 {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color: #974973;
}

body .footer {
  background-color: #ffffff;
}

body .footer Button {
  background-color: #974973 !important;
  border: none !important;
}

/* ----------- Desktop and laptop Screens ----------- */
@media only screen and (min-width: 1224px) {
  body .header .logo img {
    width: 60vw;
  }
  body .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* ----------- small laptops screens ----------- */
@media only screen and (max-device-width: 1024px) {
  body .header .logo img {
    width: 60vw;
  }
  body .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .showcase .cdn {
    top: 50vh;
    width: 50vw;
  }
}

/* ----------- tablets and ipod screens ----------- */
@media only screen and (max-device-width: 768px) {
  body .header .logo img {
    width: 80vw;
  }
  body .showcase .cdn {
    top: 50vh;
    width: 60vw;
  }
}

/* ----------- Smartphones screens ----------- */
@media only screen and (max-width: 480px) {
  body {
    padding-right: 10px;
  }
  body .header .logo img {
    width: 100vw;
  }
  body .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .showcase .cdn {
    top: 60vh;
    width: 70vw;
  }
  body .aboutus .mycards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .aboutus .mycards .card {
    width: 90%;
  }
  body .facility .mycards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .facility .mycards .card {
    width: 90%;
  }
  body .footer .logo img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */